<h3>Add Review</h3>

<%= form_for([@post, @post.comments.build]) do |f| %>
    <div class="col-lg-4 px-0">
    <p>
        <%= f.label :username %><br>
        <%= f.text_field(:username, {:class => 'form-control'}) %>
    </p>
    <p>
        <%= f.label :body %><br>
        <%= f.text_area(:body, {:class => 'form-control'}) %>
    </p>
    <p>
        <%= f.submit({:class => 'btn btn-block btn-primary'}) %>
    </p>
    </div>
<% end %>